.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user > img{
  border-radius: 50%;
}
.user .userName span,
 .user .userName span > a{
  color: var(--colorHeading);
  font-weight: 600;
}